* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightcoral;
  font-family: "Roboto", sans-serif;
}

.login {
  overflow: hidden;
  background-color: #fff;
  width: 400px;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.login > input {
  display: block;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  border: 0;
  padding: 10px 20px;
  margin: 15px -10px;
}
.btn-container {
  text-align: center;
}
.btn {
  border: 0;
  padding: 10px 20px;

  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
.btn-pink {
  background-color: #000cae;
  color: #fff;
}
.btn-white {
  background-color: #fff;
  color: #000cae;
}
.login > button:hover {
  background-color: #0034f0;
}
.authPart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
